/* Dynamic Markdown Variants */
@utility markdown {
  @apply prose;
}

/* Header Styles */
@utility header {
  @apply px-4 py-1 gap-3 justify-start bg-highlight flex min-h-16 w-full select-none items-center left-0 top-0 sticky z-10 md:px-6;
}
