@theme {
  /* highlight */
  --color-highlight: #ffffff;
  --color-highlight-darker: #edf2f7;
  --color-highlight-darkest: #d7e0ea;
  --color-highlight-content: #4e5c6e;
  --color-highlight-content-darker: #000000;
  /* base */
  --color-base: #38c800;
  --color-base-darker: #2da000;
  --color-base-darkest: #2b9401;
  --color-base-content: #ffffff;
  --color-base-content-darker: #ffffff;
  /* success */
  --color-success: #e8f5e9;
  --color-success-darker: #c8e6c9;
  --color-success-darkest: #388e3c;
  --color-success-content: #000000;
  /* warning */
  --color-warning: #fff8e1;
  --color-warning-darker: #ffecb3;
  --color-warning-darkest: #f57c00;
  --color-warning-content: #000000;
  /* error */
  --color-error: #ff8fa0;
  --color-error-darker: #ff5768;
  --color-error-darkest: #d41717;
  --color-error-content: #ffffff;
  /* info */
  --color-info: #e3f2fd;
  --color-info-darker: #bbdefb;
  --color-info-darkest: #1565c0;
  --color-info-content: #000000;
}
