services:
  redis:
    image: redis
    container_name: cat_redis
    healthcheck:
      test:
        - CMD-SHELL
        - redis-cli ping | grep PONG
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    ports:
      - 6379:6379

  postgresql:
    image: pgvector/pgvector:pg18
    container_name: cat_postgresql
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: cat
    ports:
      - 5432:5432
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s

  ollama:
    image: ollama/ollama
    container_name: cat_ollama
    volumes:
      - ./ollama:/root/.ollama
    ports:
      - 11434:11434
    healthcheck:
      test:
        - "CMD-SHELL"
        - |
          test -f /tmp/ollama_ready && \
          bash -c '</dev/tcp/localhost/11434'
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  libretranslate:
    container_name: cat_libretranslate
    image: libretranslate/libretranslate
    ports:
      - 5000:5000
    healthcheck:
      test:
        - CMD-SHELL
        - ./venv/bin/python scripts/healthcheck.py
    environment:
      - LT_LOAD_ONLY=zh,en

  minio:
    image: minio/minio
    container_name: cat_minio
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      - TZ=Asia/Shanghai
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
    command: server /data --console-address ":9001"
