name: Format Check

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  format-check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24]

    services:
      docker:
        image: docker:24-dind
        options: --privileged

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check whether nx workspace sync
        run: pnpm nx sync:check

      - name: Format Check
        run: pnpm nx run-many --target=format:check
